.music-container {
    background-color: #3402402a;
    border-radius: 10px;
    padding: 5px 5px;
    border: 1px solid hsla(0, 0%, 100%, 0.17);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.music-container #checked-heart, #emptyHeart {
    font-size: 30px;
    cursor: pointer;
}

.music-container label {
    padding-left: 15px;
}
.music-container #emptyHeart {
    color: #fff;
}

.music-container #checked-heart {
    color: rgb(249, 48, 48);
}

.music-container #musicNameContainer {
    max-width: 100%;
    max-height: 50px;
    overflow-x: auto;
}

.music-container #musicNameContainer span {
    font-weight: 700;
    color: #fff;
    margin: 0;
    white-space: nowrap;
}

#audio-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#audio-icon-container audio {
    width: 100%;
    padding: 10px 0;
}


