

#album-page .album-cover {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000008f;
    margin-top: 5px;
    position: relative;
}

#album-page .album-cover img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
   
}

#album-page .album-cover h2 {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #0000008f;
    overflow: hidden;
    white-space: nowrap;
}

@media  screen and (min-width: 992px) {
#loading-headerViewer {
    display: flex;
    color: #fff;
    font-size: 30px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}  
#album-page .album-cover img {
    width: 100%;
    max-width: 240px;
    height: 240px;
    position: absolute;
    top: 111px;
    left: 30px;
    box-shadow: -10px -10px 2px 0px #41414181;
}

#album-page .album-cover #albumCover-collectionName-artistName {
    width: 100%;
    position: absolute;
    top: 130px;
    margin: 0;
    left: 330px;
    overflow: hidden;
    white-space: nowrap;
}

#album-page .album-cover h2 {
    color: #fff;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: static;
    text-align: justify;
    background-color: transparent;
}

#album-page .album-cover span {
    color: #ffffff8f;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
    
}

@media  screen and (min-width: 1400px) {
    #album-page .album-cover img {
        width: 100%;
        max-width: 250px;
        height: 250px;
        position: absolute;
        top: 111px;
        left: 100px;
    }
    
    #album-page .album-cover #albumCover-collectionName-artistName {
        width: 100%;
        position: absolute;
        top: 130px;
        margin: 0;
        left: 400px;
        overflow: hidden;
        white-space: nowrap;
    }
    
}

@media screen and (min-width: 1500px) {
    #album-page .album-cover img {
        max-width: 280px;
        height: 280px;
        left: 120px;
    }
    
    #album-page .album-cover #albumCover-collectionName-artistName {
        left: 450px;
    }
    
}

#album-header {
    padding: 0;
}

@media screen and (min-width: 768px) {
    #album-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    #album-main-container {
        min-height: 495px;
    }
}

#album-header #album-container {
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
}

#album-header #album-container #albumName {
    height: auto;
    overflow:visible;
}

#album-header #album-container #artistName {
    height: auto;
    overflow:visible;
    color: #ffffff8f;
}

#all-songs-container {
    overflow-y: auto;
    max-height: 420px;
    min-height: 370px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #ffffff56;
    border-bottom: 1px solid #ffffff56;
    padding-top: 20px;
}

@media screen and (min-width: 768px) {
    #all-songs-container {
        border-top: none;
        min-height: 0px;
        border-bottom: none;
    }
}

@media screen and (min-width: 992px) {
    #album-main-container {
        display: flex;
        height: calc(100vh - 225px);
        justify-content: flex-end;
        overflow: scroll;
        
    }
    #all-songs-container {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        overflow: visible;
       
    }
}



#all-songs-container::-webkit-scrollbar {
    width: 5px;
}

#all-songs-container::-webkit-scrollbar-thumb {
    background-color: #9191916f;

}

#all-songs-container::-webkit-scrollbar-track {
    /* fundo da barra de rolagem */
    background-color:transparent;
}

#album-main-container::-webkit-scrollbar {
    width: 5px;
}

#album-main-container::-webkit-scrollbar-thumb {
    background-color: #9191916f;
}

#album-main-container::-webkit-scrollbar-track {
    background-color: transparent;
}