
#album-main-container {
    padding-top: 65px;
}
#songs-header {
    padding: 0;
}

@media screen and (min-width: 768px) {
    #songs-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    #album-main-container {
        min-height: 495px;
    }
    
}

#songs-header #album-container {
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
}

#songs-header #album-container #albumName {
    height: auto;
    overflow:visible;
}

#songs-header #album-container #artistName {
    height: auto;
    overflow:visible;
    color: #ffffff8f;
}

#songs-header #album-container .img-container {
    width: 150px;
    height: 150px;
}

#all-songs-container {
    overflow-y: auto;
    max-height: 400px;
    min-height: 370px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #ffffff56;
    border-bottom: 1px solid #ffffff56;
    padding-top: 20px;
}

@media screen and (min-width: 768px) {
    #all-songs-container {
        border-top: none;
        min-height: 0px;
        border-bottom: none;
    }

    #all-songs-container::-webkit-scrollbar {
        width: 5px;
    }
    
    #all-songs-container::-webkit-scrollbar-thumb {
        background-color: #9191916f;
    
    }

    #all-songs-container::-webkit-scrollbar-track {
        /* fundo da barra de rolagem */
        background-color:transparent;
    }

}