

#album-main-container .album-cover {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000008f;
    margin-top: 5px;
    position: relative;
}

#album-main-container .album-cover img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
   
}

#album-main-container .album-cover h2 {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #0000008f;
    overflow: hidden;
    white-space: nowrap;
}

#songs-header {
    padding: 0;
}

@media screen and (min-width: 768px) {
    #songs-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    #album-main-container {
        min-height: 495px;
    }
    
}

#songs-header #album-container {
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
}

#songs-header #album-container #albumName {
    height: auto;
    overflow:visible;
}

#songs-header #album-container #artistName {
    height: auto;
    overflow:visible;
    color: #ffffff8f;
}

#all-songs-container {
    overflow-y: auto;
    max-height: 420px;
    min-height: 370px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #ffffff56;
    border-bottom: 1px solid #ffffff56;
    padding-top: 20px;
}

@media screen and (min-width: 768px) {
    #all-songs-container {
        border-top: none;
        min-height: 0px;
        border-bottom: none;
    }
}

#all-songs-container::-webkit-scrollbar {
    width: 5px;
}

#all-songs-container::-webkit-scrollbar-thumb {
    background-color: #9191916f;

}

#all-songs-container::-webkit-scrollbar-track {
    /* fundo da barra de rolagem */
    background-color:transparent;
}