
#header-component #header-container {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.546);
}

#header-component #header-logo {
    width: 100px;
}



@media screen and (min-width: 992px) {
    #header-component  {
        display: flex;
        background-color: rgba(2, 0, 3, 0.626);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    } 

    #header-component #header-container {
        justify-content: center;
        padding-bottom: 0;
        background-color: transparent;
    }

    #header-component #header-logo {
        width: 170px;
    }

    #header-component #navegation {
        margin-bottom: 5em;
    }
    
}

#header-component #user-container {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50px;
    min-width: 100px;
    max-width: 150px;
    background-color: rgb(7, 1, 35);
}

#header-component #nav-link-user {
    border: none;
    background-color: transparent;
}

#header-component #user-container:hover {
    border: 1px solid rgb(131, 6, 255);
    transition: .5s;
}

@media screen and (min-width: 576px){
    #header-component #user-container {
        max-width: 180px;
    }
}

@media screen and (min-width: 768px) {
    #header-component #user-container {
        max-width: 270px;
    }
}

@media screen and (min-width: 992px) {
    #header-component #user-container {
        margin-bottom: 2em;
    }

}

#header-component #user-icon, #user-name, #loading-name {
    color: #ffff;
}

#header-component #user-icon {
    font-size: 1.5em;
    color: rgb(131, 6, 255);
    margin-left: 5px;
    padding-right: 10px;
}

#header-component #user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header-component #user-name {
    margin-right: 10px;
    max-width: 70px;
}

@media screen and (min-width: 576px){
    #header-component #user-name{
        max-width: 180px;
    }
}

@media screen and (min-width: 768px) {
    #header-component #user-name {
        max-width: 250px;
    }
}

@media screen and (min-width: 992px) {
    #header-component #user-name{
        font-size: 16px;
    }
    #header-component #user-icon {
        font-size: 2em;
    }

    #header-component #user-img {
        width: 50px;
        height: 50px;
    }
}

