
#search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


#search-form button{
   width: 100%;
   max-width: 300px;
} 


#input-search-container {
    border: 2px solid #fff;
    max-width: 300px ;
    margin-right: 20px;
}

#search-artist-input {
    border: none;
    background-color: transparent;
    color: #fff;
    width: 90%;
}


#search-artist-input::placeholder {
    font-weight: 200;
    color: #fff;
}

#input-search-container .bi-search {
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    margin-right: 8px;
    margin-top: 3px;
    color: #000;
}

@media screen and (min-width: 768px) {
    #input-search-container {
        max-width: 500px ;
        width: 100%;
        padding: 5px;
    }

    #input-search-container .bi-search {
        font-size: 30px;
    
    }

    #search-form button{
        padding: 10px;
     } 
    
}

#section-albums #section-albums-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

#section-albums #section-albums-header h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    #section-albums #section-albums-header h3 {
        font-size: 22px;
    }
}

#all-albums-container a {
    text-decoration: none;
}

#all-albums-container {
    overflow-y: auto;
    max-height: 350px;
    min-height: 350px;
    margin-top: 20px;
    border-top: 1px solid #ffffff56;
    padding-top: 20px;
}

#all-albums-container::-webkit-scrollbar {
    width: 5px;
}

#all-albums-container::-webkit-scrollbar-thumb {
    background-color: #9191916f;

}

#all-albums-container::-webkit-scrollbar-track {
    /* fundo da barra de rolagem */
    background-color:transparent;
}

@media screen and (min-width: 576px) {
    #all-albums-container {
        min-height: 500px;
        max-height: 500px;
    }
}
